<h1>Amazing TODO APP</h1>
<h3>Track your  task! be originazied person!</h3>


<hr>
<h4>Add New Task:</h4>
<form #addForm = "ngForm" (submit)="handleSubmit(addForm)" >
    <input type="text" ngModel name="task" >
    <button class="btn btn-success" type="submit"> Add Task </button>
</form>
<hr>
<button (click)="handleSave()" > Save  Tasks </button>
<hr>
<div>
    <label for="search">
        Search:
       <input type="text" #searchText (keyup)="handleSearch(searchText.value)" >
    </label>
</div>
<hr>
<h3>Your Task:</h3>
<!--<ul>
    <li *ngFor=" let t of tasks" > 
        {{t}} 
        <button (click)="handleRemove(t)" > Remove</button>
    </li>
</ul> -->
<table class="table table-striped">
    <thead>
       <tr>
           <td><b>Task</b> 
              <span class="sortButton" [class.isSorted] ="sort == sortEnum.ASC" (click)="handleSort(sortEnum.ASC)"> <b>&#8679;</b></span> <!--sort arrows-->
              <span class="sortButton" [class.isSorted] ="sort == sortEnum.DESC"(click)="handleSort(sortEnum.DESC)"> <b>&#8681;</b></span>
          </td>
           <td>Operitions</td>
       </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of tasks"  [hidden]="!t.isVisible"> 
            <!--task-->
            <td>
                 <span *ngIf="!t.isUpdated"> {{t.name}} </span> 
                 <span *ngIf="t.isUpdated">
                     <!--Editing Form-->
                     An Editing form will be displayed here
                     <input type="text" name="newTask" #newTask value="{{t.name}}">
                     <button type="submit" (click)="handleFinishUpdate(t.name,newTask.value)">Update</button>
                 </span>
            </td>
            <!--button-->
            <td> 
                <button  class="btn btn-danger" (click)="handleRemove(t.name)">Remove</button>
                <button  class="btn btn-success" (click)="handleUpdate(t)">Update</button>
            </td>
        </tr>
    </tbody>
</table>